@tailwind base;
@tailwind components;
@tailwind utilities;
/* * {
  border: 1px red solid;
} */
.truncates {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
